{% extends 'AdminGlobalBundle::layout.html.twig' %}
{% block content %}
<a id="gaddbtn" href="#addmodal" class="btn marginR10 marginB10" title="添加用户组">添加用户组</a>
<div class="row-fluid">
	<div class="span12">
		<div class="box">

			<div class="title">

				<h4>
					<span class="icon16 icomoon-icon-equalizer-2"></span>
					<span>用户组管理</span>
					<form class="box-form right" action="">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="icon16 icomoon-icon-cog-2"></span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a data-toggle="modal" data-target="#modal">
									<span class="minia-icon-file-add"></span>
									增加用户组
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icon-pencil"></span>
									编辑用户组
								</a>
							</li>
							<li>
								<a href="#">
									<span class="icon-trash"></span>
									删除用户组
								</a>
							</li>
						</ul>
					</form>

				</h4>
			</div>
			<div class="content noPad">
				<table id="grouplist" class="responsive table table-bordered" id="checkAll">
					<thead>
						<tr>
							<th>用户组ID</th>
							<th>用户组名称</th>
							<th>成员数量</th>
							<th>拥有权限</th>
							<th id="masterCh" class="ch">
								<input type="checkbox" name="checkbox" value="all" class="styled" />
							</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for group in groups %}
						<tr>
							<td>{{ group.id }}</td>
							<td>{{ group.name }}</td>
							<td>
								{% set usercount = 0 %}
						    	{% for user in users %}
						    	    {% if group in user.groups  %}
						    	        {% set usercount = usercount+1 %}
						    	    {% endif %}
						    	{% endfor %}
						    	{{ usercount }}
							</td>
							<td>
								{% for role in group.roles %}
						    	{{ role }}{% if loop.index != group.roles|length %},{% endif %}
						    	{% endfor %}
							</td>
							<td class="chChildren">
								<input type="checkbox" name="checkbox" value="1" class="styled" />
							</td>
							<td>
								<div class="controls center">
									<a id="edit{{ group.id }}" class="editgroup tip" title="编辑用户组">
										<span class="icon12 icomoon-icon-pencil"></span>
									</a>
									<a id="del{{ group.id }}" class="delgroup gdelbtn tip" title="删除用户组">
										<span class="icon12 icomoon-icon-remove"></span>
									</a>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
<div id="addgroup" style="display:none;">
	<div class="content">{{ render(controller('AdminUserBundle:Group:groupAdd')) }}</div>
</div>
<div id="grouptable" style="display:none;">
	<table>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="chChildren">
				<input type="checkbox" name="checkbox" value="1" class="styled" />
			</td>
			<td>
                <div class="controls center">
				    <a class="editgroup" title="编辑用户组">
					    <span class="icon12 icomoon-icon-pencil"></span>
				    </a>
				    <a class="delgroup" title="删除用户组">
					    <span class="icon12 icomoon-icon-remove"></span>
				    </a>
			    </div>			
			</td>
		</tr>
	</table>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AdminGlobalBundle/Resources/public/custom/js/user/group.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}