{% extends 'form_div_layout.html.twig' %}
{% block form_row %}
{% spaceless %}
<div class="form-row row-fluid">
    <div class="span12">
        <div class="row-fluid">
            {{ form_label(form, label|default(null),{ 'label_attr': {'class': 'form-label span3'} }) }}
            {{ form_widget(form)}}
            {{ form_errors(form) }}
		</div>
	</div>
</div>
{% endspaceless %}
{% endblock form_row %}

{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" class="span4" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block _user_userimg_widget %}
{% spaceless %}
    <img src="http://placehold.it/60x60" alt="" class="image marginR10"/>
    {{ form_widget(form,{ 'attr': {'class': 'span4'} })}}
{% endspaceless %}
{% endblock %}

{% block radio_widget %}
{% spaceless %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans }}
{% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" checked="checked" class="ibuttonCheck nostyle" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock %}

{% block _user_description_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }} class="elastic span4" rows="3" cols="5">{{ value }}</textarea>
{% endspaceless %}
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    {% for child in form %}
        <div class="left marginT5 marginR10">
            {{ form_widget(child) }}
        </div>
    {% endfor %}
{% endspaceless %}
{% endblock %}

{% block _user_groups_widget %}
{% spaceless %}
<div class="span4 controls">
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="nostyle" >
        {% if empty_value is not none %}
            <option value=""{% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %}>{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% if preferred_choices|length > 0 %}
            {% set options = preferred_choices %}
            {{ block('choice_widget_options') }}
            {% if choices|length > 0 and separator is not none %}
                <option disabled="disabled">{{ separator }}</option>
            {% endif %}
        {% endif %}
        {% set options = choices %}
        {{ block('choice_widget_options') }}
    </select>
</div>
{% endspaceless %}
{% endblock %}
