{% trans_default_domain 'FOSUserBundle' %}
{% if error %}
			<div class="alert alert-error">{{ error|trans }}!</div>
			{% endif %}
			<form id="login_form" class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				<div class="control-group">
					<label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
					<div class="controls">
						<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
					<div class="controls">
						<input type="password" id="password" name="_password" required="required" />
					</div>
				</div>
				<div class="control-group check-group">
					<div class="controls">
						<label class="checkbox" for="remember_me">
							{{ 'security.login.remember_me'|trans }}
							<input type="checkbox" id="remember_me" name="_remember_me" checked="checked" value="on" />
						</label>
					</div>
				</div>
				<div class="form-actions">
					<input class="button button-rounded button-flat-action" type="submit" id="login_btn" name="login_btn" value="登录绑定" />
				</div>
			</form>