            <div class="tabbable tabs-below">
              <div class="tab-content">
                <blockquote>
                  <div class="page-header">
                    <div class="row-fluid">
                      <div class="span12">
                        <h4>经典课程</h4>
                        <small>踏出成为极客的第一步!</small>
                      </div>
                    </div>
                  </div>
                </blockquote>
                {% set i = 1 %}
                {% for type in types %}
                  <div {% if i == 1 %} class="tab-pane active"{% else %} class="tab-pane"{% endif %} id="tab{{ i }}">
                    <a class="pane-control left" href="#lessonshow{{i}}" data-slide="prev">&lsaquo;</a>
                    <a class="pane-control right" href="#lessonshow{{i}}" data-slide="next">&rsaquo;</a>
                    <div id="lessonshow{{i}}" class="carousel slide">
                      <div class="carousel-inner">
                        {% set length = 0 %}
                        {% for lesson in lessons %}
                          {# 获取当前类课程的数量 #}
                          {% if lesson.type == type %}{% set length = length+1  %}{% endif %}
                        {% endfor %}
                        {# 计算移动幻灯数量，这里术语为“步长” #}
                        {% if length % 3 == 0 %}{% set step = length / 3 %}{% else %}{% set step = length // 3 + 1 %}{% endif %}
                        {% set linum = 0 %}{# 此变量为已经遍历过的课程数据行，循环到下一页幻灯时，从linum条数据开始读取，即slice(linum) #}
                        {% for item in 1..step %}{# 从1开始到步长数step终止 #}
                        <div {% if item == 1 %} class="item active"{% else %} class="item"{% endif %}>
                          <ul class="thumbnails inibox">
                            {% set lisort = 0 %}{# lisort值即为当前课程块的排位，如果大于3即开始下一幻灯 #}
                            {% for lesson in lessons|slice(linum) if (lisort % 3 != 0 or lisort == 0) %}
                            {% if lesson.type in type.children %}
                            <li class="span4">
                              <div class="thumbnail">
                                <div class="videoico"></div>
                                  <img class="opimg" src="{{ asset(lesson.image) }}" alt="">    
                                <p>{{ lesson.name }}</p>
                              </div>
                            </li>
                            {% set lisort = lisort + 1 %}
                            {% endif %}
                            {% set linum = linum+1 %}
                            {% endfor %}
                          </ul>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% set i = i+1 %}
                {% endfor %}
              </div>
              <ul class="nav nav-tabs">
                {% set i = 1 %}
                {% for type in types %}
                  {% if i == 1 %}<li class="active">{% else %}<li>{% endif %}
                    <a href="#tab{{ i }}" data-toggle="tab">{{ type.name }}</a>
                  </li>
                  {% set i = i+1 %}
                {% endfor %}
              </ul>
            </div>