              <blockquote>
                  <div class="page-header">
                    <div class="row-fluid">
                      <div class="span12">
                        <h4>经典课程</h4>
                        <small>踏出成为极客的第一步!</small>
                      </div>
                    </div>
                  </div>
                </blockquote>
                {% set length = lessons|length // 4 %}
                {% if lessons|length % 4 != 0 %}{% set length = length + 1 %}{% endif %}
                {% set linum = 0 %}
                {% for lesson in 1..length %}
                <ul class="thumbnails">
                  {% for lesson in lessons|slice(linum,4) %}
                    <li class="span3">
                      <div class="thumbnail">
                        <img src="{{ asset(lesson.image) }}" alt="">
                        <div class="bottom">
                          <dl>
                            <dt><i class="icon-facetime-video"></i>{{ lesson.name }}</dt>
                            <dd>
                              <small>
                                {{ lesson.description|slice(0, 28) }}
                                {% if lesson.description|length > 28 %}
                                  ...
                                {% endif %}
                              </small>
                            </dd>
                          </dl>
                          <div class="tools">
                            <div class="pull-left">
                              <img src="{{ asset('/uploads/images/users/gravatar.jpeg') }}">
                              <span class="strong">lichnow</span>
                            </div>
                            <div class="pull-right">
                              <i class="icon-star-empty"></i>
                              <span class="small">200</span>
                              <i class="icon-user"></i>
                              <span class="small">{{ lesson.learn }}</span>
                            </div>
                          </div>
                        </div>
                      </div> 
                    </li>
                    {% set linum = linum + 1 %}
                  {% endfor %}
                </ul>
                {% endfor %}
            {#<div class="tabbable tabs-below">
              <div class="tab-content">
                <blockquote>
                  <div class="page-header">
                    <div class="row-fluid">
                      <div class="span12">
                        <h4>经典课程</h4>
                        <small>踏出成为极客的第一步!</small>
                      </div>
                    </div>
                  </div>
                </blockquote>
                {% set i = 1 %}
                {% for type in types %}
                  <div {% if i == 1 %} class="tab-pane active"{% else %} class="tab-pane"{% endif %} id="tab{{ i }}">
                    <a class="pane-control left" href="#lessonshow{{i}}" data-slide="prev">&lsaquo;</a>
                    <a class="pane-control right" href="#lessonshow{{i}}" data-slide="next">&rsaquo;</a>
                    <div id="lessonshow{{i}}" class="carousel slide">
                      <div class="carousel-inner">
                        {% set length = 0 %}
                        {% for lesson in lessons %}
                          {% if lesson.type == type %}{% set length = length+1  %}{% endif %}
                        {% endfor %}
                        {% if length % 3 == 0 %}{% set step = length / 3 %}{% else %}{% set step = length // 3 + 1 %}{% endif %}
                        {% set linum = 0 %}
                        {% for item in 1..step %}
                        <div {% if item == 1 %} class="item active"{% else %} class="item"{% endif %}>
                          <ul class="thumbnails inibox">
                            {% set lisort = 0 %}
                            {% for lesson in lessons|slice(linum) if (lisort % 3 != 0 or lisort == 0) %}
                            {% if lesson.type in type.children %}
                            <li class="span4">
                              <div class="thumbnail">
                                <div class="videoico"></div>
                                  <img class="opimg" src="{{ asset(lesson.image) }}" alt="">    
                                <p>{{ lesson.name }}</p>
                              </div>
                            </li>
                            {% set lisort = lisort + 1 %}
                            {% endif %}
                            {% set linum = linum+1 %}
                            {% endfor %}
                          </ul>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% set i = i+1 %}
                {% endfor %}
              </div>
              <ul class="nav nav-tabs">
                {% set i = 1 %}
                {% for type in types %}
                  {% if i == 1 %}<li class="active">{% else %}<li>{% endif %}
                    <a href="#tab{{ i }}" data-toggle="tab">{{ type.name }}</a>
                  </li>
                  {% set i = i+1 %}
                {% endfor %}
              </ul>
            </div>#}